@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-progress-light: green
}

.cathead:hover .catim {
  display: flex;
  position: absolute;
  top: 80px;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}

@font-face {
  font-family: 'Montserrat Ace Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Ace Regular'), url('./fonts/Montserrat-Ace-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Ace Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Ace Medium'), url('./fonts/Montserrat-Ace-Medium.woff') format('woff');
}


.cvvcardgroup:hover .cvvcard {
  position: absolute;
  display: block;
}


/* E COMMERCE SWIPER */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

@media screen and (min-width: 500px) {
  .mySwiper1desktop .swiper-wrapper {
    /* width: 100px; */
    height: 400px;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .mySwiper1desktop {
    display: flex;
    flex-direction: column;
  }

  .mySwiper2desktop .swiper-wrapper {
    width: 400px;
    height: 400px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
  }

}