*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.cathead:hover .catim{
  display: flex;
  position: absolute;
  top: 80px;
}

.navlarim:focus {
  background-color: #e5e7eb;
}